@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

$footer-font: 'Montserrat', sans-serif;
$global-font: 'Poppins', sans-serif;
$logo-font: 'Heebo', sans-serif;
$global-color: #333333;
$paragraph-color: #4F4F4F;
$light-color: #828282;
$ultralight-color: #BDBDBD;
$hightlight-color: #EB5757;
$input-bg: #F2F2F2;
$button-bg: #2D9CDB;
$button-text: #FFFFFF;
$service-button-bg: #E0E0E0;
$footer-bg: #100E1D;
$frontend-icon: #27AE60;

@mixin flexible ($width, $direction, $alignx, $aligny) {
    width: $width;
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: $alignx;
    align-items: $aligny;
}
@mixin gridme ($width, $cols, $rows, $colsw, $rowsw, $gap) {
    width: $width;
    display: grid;
    grid-template-columns: repeat($cols,$colsw);
    grid-template-rows: repeat($rows,$rowsw);
    grid-gap: $gap;
}

.Body {
    color: $global-color;
    font-family: $global-font;
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
}
.Services,
.Designs,
.Team,
.Testimonial {
    width: 95%;
    margin: 60px auto 20px auto;
    @media (min-width: 1000px) {
        width: 75%;
        max-width: 1450px;
    }
}
// ----------------------  HEADER  ---------------------
.Header {
    @include flexible(100vw, row, space-between, center);
    width: 90%;
    max-width: 1650px;
    padding: 1em 0;
    margin: 0 auto;
    @media (min-width: 1000px) {
        padding: 2em 0;
    }
}
.HeaderLogo {
    margin: 0;
    font-family: $logo-font;
    font-weight: 800;
    font-size: 2em;
}
.MenuDesktop ul {
    @include flexible(auto, row, end, center);
    font-size: 500;
}
.MenuResponsive {
    display: block;
    @media (min-width: 1000px) {
        display: none;
    }
}
.MenuDesktop {
    display: none;
    @media (min-width: 1000px) {
        display: flex;
    }
}
.CheckMenu {
    visibility: hidden;
    &:checked ~ .MenuContainer {
        display: block;
    }
    &:checked ~ .LabelMenu {
        background-image: url("../assets/menu-close.svg");
    }
}
.LabelMenu {
    position: relative;
    right: 0;
    bottom: 7px;
    width: 48px;
    height: 48px;
    margin-right: 0;
    z-index: 3;
    background-image: url("../assets/menu-open.svg");
    background-repeat: none;
    background-size: cover;
}
.MenuContainer {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
.Menu {
    @include flexible(auto, column, center, center);
    width: 100vw;
    height: 100vh;
    background-color: $button-text;
}
.MenuElem {
    margin-bottom: 2em;
    font-size: 1.5em;
    @media (min-width: 1000px) {
        margin-bottom: 10px;
        padding-bottom: 4px;
        margin-left: 2.8em;
        font-size: 1.1em;
    }
}
// ----------------------  HEADER  --------------------- 
.WeCreate {
    width: 95%;
    max-width: 1650px;
    margin: 0 auto;
    @media (min-width: 1000px) {
        padding: 2em;
    }
}
.SectionHeader,
.H2,
.Paragraph,
.EmailCTA {
    padding-left: 25px;
    width: 85%;
    @media (min-width: 1000px) {
        padding-left: 200px;
        width: 45%;
    } 
}
.CTA,
.TeamCTA {
    color: $button-bg;
    font-family: $global-font;
    font-weight: 500;
    font-size: .7em;
    @media (min-width: 1000px) {
        font-size: 1em;
    }
}
.H1,
.H2 {
    color: $global-color;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.4em;
    @media (min-width: 1000px) {
        margin: 25px 0;
        font-size: 2.3em;
    }
}
.HeroImage {
    margin: 25px 0;
    & img {
        border-radius: .5em;
    }
}
.Paragraph,
.ServiceParagraph {
    color: $paragraph-color;
    font-weight: 400;
    font-size: .8em;
    margin: 25px 0;
}
.EmailCTA {
    @include flexible(85%, column, start, start);
    @media (min-width: 1000px) {
        width: 45%;
    }
}
.InputWrapper {
    @include flexible(100%, row, space-between, center);
    background-color: $input-bg;
    padding: .2em;
    border-radius: .5em;
    margin-top: .5em;
}
.CTAInput {
    width: 65%;
    background-color: $input-bg;
    color: $ultralight-color;
    border-radius: .5em;
    padding: .8em;
    font-size: .8em;
    &::placeholder {
        color: $ultralight-color;
    }
    &:focus {
        outline: none;
    }
}
.CTAButton {
    width: 30%;
    border-radius: .5em;
    background-color: $button-bg;
    color: $button-text;
    padding: 10px;
    &:hover {
        cursor: pointer;
    }
}
.CTAText {
    color: $light-color;
    font-weight: 500;
    font-size: .55em;
}
// --------------------  SERVICES  -------------------
.ServicesHeader {
    width: 80%;
    @media (min-width: 1000px) {
        width: 30%;
    }
}
.ServicesH2 {
    color: $global-color;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 1.5em;
    line-height: 1.4em;
    padding-left: 25px;
    @media (min-width: 1000px) {
        margin: 25px 0;
        font-size: 1.7em;
    }
}
.ServicesWrapper {
    @include flexible(100%, column, center, center);
    @media (min-width: 1000px) {
        @include flexible(100%, row, space-between, center);
    }
}
.Service {
    @include flexible(100%, column, center, start);
    padding: 1.3em;
    border-radius: 10px;
    margin-top: 50px;
    &:hover {
        box-shadow: $ultralight-color 0px 5px 10px 0px;
        cursor: pointer;
    }
    @media (min-width: 1000px) {
        width: 30%;
    }
}
.H3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 25px;
}
.ServiceIcon {
    @include flexible(100%, row, center, center);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    & img {
        width: 60%;
    }
}
.BlueIcon {
    background-color: $button-bg;
}
.GreenIcon {
    background-color: $frontend-icon;
}
.RedIcon {
    background-color: $hightlight-color;
}
.ServiceButton {
    border-radius: .5em;
    padding: 10px 20px;
    font-size: .8em;
    font-weight: 500;
    color: $light-color;
    background-color: $service-button-bg;
    &:hover {
        cursor: pointer;
    }
}
.isActive {
    color: $button-text;
    background-color: $button-bg;
}
// --------------------  DESIGNS  -------------------
.Design {
    margin-top: 50px;
    @media (min-width: 1000px) {
        &:nth-of-type(1) {
            padding-right: 20px;
            margin-top: 160px;
        }
        &:nth-of-type(2) {
            padding-left: 20px;
        }
        &:nth-of-type(3) {
            padding-right: 20px;
            margin-top: 160px;
        }
        &:nth-of-type(4) {
            padding-left: 20px;
        }    
    }
    
}
.DesignsWrapper {
    @include gridme(100%, 1, 4, 1fr, auto, 0);
    @media (min-width: 1000px) {
        @include gridme(100%, 2, 2, 1fr, auto, 0);
    }
}
.DesignImg {
    border-radius: .8em;
}
.DesignCaption {
    display: block;
    font-weight: 300;
    font-size: .7em;
    color: $light-color;
    margin: 10px 0 5px 0;
}
.DesignTitle {
    display: block;
    font-weight: 500;
    font-size: 1.5em;
    color: $global-color;
    margin: 5px 0 0 0;
}
.SeeMore {
    display: block;
    max-width: 1450px;
    font-weight: 500;
    color: $button-bg;
    margin-top: 35px;
    @media (min-width: 1000px) {
        text-align: end;
        cursor: pointer;
    }
}
// ----------------------  TEAM  ---------------------
.Team {
    @include gridme(75%, 4, 1, 1fr, 1fr, 10px);
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}
.TeamContent {
    padding-right: 200px;
    grid-column: span 2;
}
.TeamCTA {
    color: $hightlight-color;
}
.TeamBigImg {
    justify-self: right;
    & img {
        border-radius: 1em;
    }
}
.TeamSmallImg {
    padding-right: 30px;
    & img {
        border-radius: 1em;
        margin-bottom: 10px;
    }
}
// ------------------  TESTIMONIAL  ------------------
.Testimonial {
    margin-top: 100px;
    margin-bottom: 150px;
}
.TestimonialHeader {
    width: 75%;
}
.ClientCard {
    @include flexible(35%,row,start,center);
    margin-top: 50px;
}
.ClientPortrait {
    width: auto;
    & img {
        margin-right: 20px;
        width: 90px;
        border-radius: 1em;
    }
}
.ClientName {
    font-weight: 500;
    color: $global-color;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.ClientCompany {
    color: $light-color;
    font-size: 1em;
}
// ---------------------  FOOTER  ---------------------
.Footer {
    @include gridme(100%, 3, 2, 1fr, auto, 0);
    background-color: $footer-bg;
    color: $button-text;
    padding-top: 70px;
    margin: 0 auto;
    &-p {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        grid-column: span 3;
        margin: 10px 0;
    }
    &-a {
        text-decoration: underline;
        font-weight: bold;
    }
}
.FooterMenu { 
    font-size: .9em;
    font-weight: 400;
    margin-left: 35%;
}
.Company {
    margin-left: 20%
}
.Social {
    @include flexible(100%,row,start,start);
    margin-top: 20px;
}
.SocialImg {
    width: 30px;
    margin-right: .5em;
}
.FooterEmailCTA {
    width: 80%;
}